{% from "components/public_components/tag_card.html" import tag_card %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
<section class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <a
        href="{{ back_url or url_for('public_bp_root.actualite_bp_root.actualite') }}"
        class="inline-flex items-center gap-2 text-xl text-gray-600 hover:text-gray-900 transition mb-6"
    >
        <i class="mdi mdi-arrow-left text-2xl"></i>
        Retour aux articles
    </a>

    <!-- Image principale -->
    <div class="overflow-hidden rounded-2xl shadow-md">
        <img
            src="https://www.comoprint.com/static/cartes-de-visite-qr-code_2-22-12_750_750.png"
            alt="{{ article.title }}"
            class="w-full h-[250px] sm:h-[350px] lg:h-[420px] object-cover object-center"
        />
    </div>

    <!-- Date -->
    <p class="mt-6 text-sm text-gray-500">
        Publié le {{ article.created_at.strftime('%d/%m/%Y') }}
    </p>

    <!-- Titre -->
    <h1
        class="mt-2 text-3xl sm:text-4xl lg:text-5xl font-bold text-gray-900 leading-tight"
    >
        {{ article.title }}
    </h1>

    <!-- Tags -->
    <div class="mt-4 flex flex-wrap gap-2">
        {% for tag in article.tags %} {{tag_card(tag)}} {% endfor %}
    </div>

    <!-- Description / Contenu -->
    <div class="text-gray-700 leading-relaxed mt-4">
        {{ article.description }}
    </div>

    <!-- Séparateur -->
    <div class="my-8 border-t border-gray-200"></div>
    

    <!-- Contenu complet -->
    <div class="prose max-w-none">{{ article_html|safe }}</div>
</section>
