<div class="bg-white p-4 rounded-lg shadow-md min-h-full">
    <h1 class="text-4xl mb-2">Profil</h1>
    <hr />
    <div class="mt-2">
        <div>
            <h1 class="text-xl font-bold">Pseudo</h1>
            <h1 class="ml-4">{{ current_user.username }}</h1>
        </div>
        <div>
            <h1 class="text-xl font-bold">Nom</h1>
            <h1 class="ml-4">{{ current_user.surname }}</h1>
        </div>
        <div>
            <h1 class="text-xl font-bold">Prénom</h1>
            <h1 class="ml-4">{{ current_user.name }}</h1>
        </div>
        <div>
            <h1 class="text-xl font-bold">Email</h1>
            <h1 class="ml-4">{{ current_user.email }}</h1>
        </div>
    </div>
</div>
